{% extends "header.html" %}
{% load bootstrap3 %}


{% block content %}
<div class="container">
  <div class="content-area">
      <div class="container">
            <div class="row"><div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Main title -->
                        <div class="main-title">
                            <h1><span>Signup</span></h1>
                        </div>
                            <form method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="search-button" >Sign up</button>
                            </form>
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>
                           Already have account ? <a href="{% url 'myFYP:login' %}">login now</a>
                        </span>
                    </div>
                </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
